html, 
body{
	margin:0;
	padding:0;
	font-family: $serif;
}

.hero{
	position:relative;
	width:100vw;
	height: 100vh;
	overflow: hidden;
	
	.branding{
		width:65vw;
		height:100vh;
		position:absolute;
		top:0;
		left:0;
		right:0;
		margin:0 auto;
		z-index:100;
				
		.fortune{
			position:absolute;
			width:100px;
			top:110px;
			right:0;
			z-index: 300;
			
			svg{
				fill:#5a0000;
			}
		}
		
		.story{
			position:absolute;
			width:100px;
			top:200px;
			right:0;
			z-index: 300;
			
			svg{
				fill:#5a0000;
			}
		}
		
		%color{
			color:#5a0000
		}
		
		.text{
			position:absolute;
			bottom:35px;
			left:0;
			right:0;
			width:75%;
			margin:0 auto;
			z-index:200;
			text-align: center;
			font-weight: 200;
			font-size: 36px;
			letter-spacing: 6px;
			color:white;
			//opacity:.65;
			
			p, 
			h1{
				display: none;
			}
			
			h1{
				margin:0;
				padding:0;
				letter-spacing: 1px;
				font-size: 182px;
				line-height: 145px;
				text-transform: uppercase;
				width:100%;
			}
			
			svg{
				fill:white;
			}
		}
	}
	
	.overlay{
		display:none;
		position:absolute;
		top:0;
		left:0;
		width:100vw;
		height: 100vh;
		opacity:.25;
		transition:all 1.5s ease-in;
		text-align: center;
		transform: scale(22);
	    //transform: scale(1);
	    
	    z-index:200;
		
		
		background-image: url('../../_media/hole.svg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		
		
		
	}
	
	/*
	.video{
		position:absolute;
		top:0;
		left:0;
		
		width:100vw;
		height: 100vh;
		
	    z-index:50;
	}
	*/
	
	.vimeo-wrapper {
		
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100vw;
	    height: 100vh;
	    pointer-events: none;
	    overflow: hidden;
	    
	    z-index: 0;
	    
	   	iframe {
		   border:0;
		   width: 100vw;
		   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
		   min-height: 100vh;
		   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
		   position: absolute;
		   top: 50%;
		   left: 50%;
		   transform: translate(-50%, -50%);
	   }
	   	
	}
	
}