html,
body {
  margin: 0;
  padding: 0;
  font-family: "eskorte-latin"; }

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*
	.video{
		position:absolute;
		top:0;
		left:0;
		
		width:100vw;
		height: 100vh;
		
	    z-index:50;
	}
	*/ }
  .hero .branding {
    width: 65vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100; }
    .hero .branding .fortune {
      position: absolute;
      width: 100px;
      top: 110px;
      right: 0;
      z-index: 300; }
      .hero .branding .fortune svg {
        fill: #5a0000; }
    .hero .branding .story {
      position: absolute;
      width: 100px;
      top: 200px;
      right: 0;
      z-index: 300; }
      .hero .branding .story svg {
        fill: #5a0000; }
    .hero .branding .text {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      width: 75%;
      margin: 0 auto;
      z-index: 200;
      text-align: center;
      font-weight: 200;
      font-size: 36px;
      letter-spacing: 6px;
      color: white; }
      .hero .branding .text p,
      .hero .branding .text h1 {
        display: none; }
      .hero .branding .text h1 {
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        font-size: 182px;
        line-height: 145px;
        text-transform: uppercase;
        width: 100%; }
      .hero .branding .text svg {
        fill: white; }
  .hero .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .25;
    transition: all 1.5s ease-in;
    text-align: center;
    transform: scale(22);
    z-index: 200;
    background-image: url("../../_media/hole.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .hero .vimeo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 0; }
    .hero .vimeo-wrapper iframe {
      border: 0;
      width: 100vw;
      height: 56.25vw;
      /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh;
      /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
